<html ng-app>
<head>
  <title>04.03-filter</title>

  <script src="../lib/angular.js" ></script>
  <script src="../lib/angular-resource.js" ></script>
  <link rel="stylesheet" href="../lib/bootstrap.css">

  <script src="top_movies.js"></script>

  <script>
  function MovieController($scope) {
    $scope.topMovies = topMovies.feed.entry;
  }
  </script>

</head>
<body>

  <div ng-controller="MovieController">
      <h1>Top {{topMovies.length}} Movies!</h1>
      <input name="search" type="text" ng-model="search" class="search-query" placeholder="Search">

      <ul class="thumbnails">

        <li class="span4" ng-repeat="movie in topMovies | filter:search ">
          <div class="thumbnail" style="height:350px;overflow:auto;">
            <img ng-src="{{movie['im:image'][2].label}}">
            <h3>{{$index+1}} {{movie.title.label}}</h3>
            <p>{{movie.category.attributes.label}}</p>
            <p>{{movie.summary.label}}</p>
          </div>
        </li>

      </ul>

    </div>
  </div>
  
</body>
</html>