<html ng-app="myApp">
<head>
  <title>07.01-http</title>

  <script src="../lib/angular.js" ></script>
  <link rel="stylesheet" href="../lib/bootstrap/css/bootstrap.css">
  <script src="http://cdnjs.cloudflare.com/ajax/libs/masonry/3.1.2/masonry.pkgd.min.js"></script>

  <style>
    .item {
      width: 220px;
      margin: 11px;
      float: left;
    }
  </style>
  <script>
  function FlickerController($scope, $http) {
             
    $scope.searchByTag = function(tag) {
      $http.jsonp('http://api.flickr.com/services/rest/?method=flickr.photos.search&api_key=c785374bbc0ac3f6a4462120d7e42e35&tags='+tag+'&per_page=30&format=json&jsoncallback=JSON_CALLBACK')
        .success(function(data, status, headers, config) {
          $scope.photos = data.photos.photo
          // $scope.$evalAsync($scope.mansonry());    // <- Should work...but doesn't!
           window.setTimeout( $scope.mansonry, 300 )         
      });
    }     

    $scope.mansonry = function() {
      window.wall = new Masonry( document.getElementById('container'), {
        columnWidth: 120
      });      
    }     
    // Format photo url according to http://www.flickr.com/services/api/misc.urls.html              
    $scope.photoUrl = function(photo) {
      return 'http://farm'+photo.farm+'.staticflickr.com/'+photo.server+'/'+photo.id+'_'+photo.secret+'.jpg'
    }          
          

  }

  angular.module('myApp', [])  

  </script>


</head>
<body ng-controller="FlickerController" >
  <div class="well">
    <input type="text" ng-model="tag" placeholder="Flicker Search....">
    <a class="btn" ng-click="searchByTag(tag)">Go</a>
  </div>  
  <div id="container">

    <div ng-repeat="photo in photos" class="item">
      <h3>{{$index+1}} {{photo.title.substring(0,14)}}</h3>
      <img ng-src="{{photoUrl(photo)}}" style="width:250px">
    </div>           

  </div>
</body>
</html>