<!DOCTYPE html>
<html lang="en" ng-app="paymentDemo">
  <head>
    <title>Bootstrap, from Twitter</title>

    <!-- Le styles -->
    <link href="app.css" rel="stylesheet">

    <script src="../lib/angular.js" ></script>

    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <!-- <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script> -->

    <script src="app.js"></script>

  </head>
<body>

    <div class="container">

      <div ng-controller="SwitchController">
        <p>A simplistic example of the client side </p>

        Total Payment: <input ng-model="sharedData.totalPayment" ng-disabled="currentModel!=nullModel" />

        <div ng-show="currentModel==nullModel">
          <button type="button" class="btn btn-warning" ng-click="gotoCC()">Pay by Credit Card</button>
          <button type="button" class="btn btn-warning" ng-click="gotoEFT()">Pay by Bank</button>
        </div>
        <div ng-show="currentModel!=nullModel">
          <button type="button" class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>

        <h1>{{currentModel.title}}</h1>
      </div>


      <div ng-controller="PaymentController">
         Payment Type: {{model.paymentType}}

         <div class="hero-unit" ng-show="currentModel!=nullModel &amp;&amp; model.paymentType != 'none' &amp;&amp; model.paymentType != null" data-ng-animate="'fade'">
          <p>{{model.title}}</p>

            <ul class="thumbnails">
              <li class="span4">
                Showing: {{model.slideUrl}}
                <div ng-include src="model.slideUrl"></div>
              </li>
              ...
            </ul>

        </div>  <!-- end hero-unit -->


      </div>
    </div> <!-- /container -->

  </body>
</html>
